Package: iron
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: openssl
Maintainer: Paolo Lulli <paolo@lulli.net>
Description: Iron CA, server and client cert management
 manage a local CA, create server certificates, create client CSR
 sign CSR and create client certificates
